.show {


   display: flex;
   animation: fade 1.2s ease;
}


/* 
.show>div {
   width: 100%;
   height: 100%;
} */

@keyframes fade {
   from {
      opacity: 0.1;
   }

   to {
      opacity: 1;
   }
}

.not-show {
   display: none;
}